 {% extends "core/base.html" %}
 {% load static %}
 
 {% block title %}
      Blog | Pagina Principal 
 {% endblock title %}
 
 {% block content %}

    <h1> Proyecto Blog </h1>
    <h2>Pagina principal</h2>
    <button> <a href="{% url 'blog:index' %}"> Ir a Posts </a> </button> 
    <button> <a href="{% url 'blog:autores' %}"> Ir a Autores </a> </button>
    <button> <a href="{% url 'blog:comentarios' %}"> Ir a Comentarios </a> </button>  
    <button> <a href="{% url 'admin:index' %}"> Administracion </a> </button> 
 
      <!-- Heading Row-->
      <div class="row gx-4 gx-lg-5 align-items-center my-5">
         <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/blog.jpg' %}" alt="..." /></div>
         <div class="col-lg-5">
             <h1 class="font-weight-light">Blog libre para expresarse</h1>
             <p>Dentro de este blog, cualquier persona puede compartir sus opiniones e ideas de manera libre sin ser juzgado. Unicamente hay que registrarse.</p>
             <a class="btn btn-primary" href="{% url 'blog:autores_add' %}" target="_blank">Registrarse</a>
         </div>
     </div>
     <!-- Call to Action-->
     <div class="card text-white bg-secondary my-5 py-4 text-center">
         <div class="card-body"><p class="text-white m-0">Porfavor mantengan un grado de respeto hacia el otro. Postee responsablemente. Cualquier accion indebida sera penalizada. </p></div>
     </div>
     <!-- Content Row-->
     <div class="row gx-4 gx-lg-5">
         {% include 'core/tarjeta.html' with titulo="Introduccion al Blog" texto="Bienvenido al blog de nuestra empresa desarrolladora. Aquí encontrarás artículos interesantes sobre tecnología, desarrollo web, diseño y mucho más. Nos apasiona compartir conocimientos y experiencias con nuestra comunidad. Únete a nosotros en este viaje de aprendizaje y descubrimiento." %}
         {% include 'core/tarjeta.html' with titulo="Ultimas novedades" texto="Estamos emocionados de compartir nuestras últimas novedades contigo. Desde nuevos proyectos hasta actualizaciones de productos, aquí es donde encontrarás la información más reciente sobre lo que estamos haciendo. Mantente al tanto de nuestras últimas noticias y eventos." %}
         {% include 'core/tarjeta.html' with titulo="Invitacion a la participacion" texto="Queremos escucharte. Este blog no sería nada sin la participación activa de nuestra comunidad. ¿Tienes alguna idea para un nuevo proyecto? ¿Quieres compartir tu experiencia en el campo del desarrollo? ¡Déjanos un comentario y únete a la conversación! Tu voz es importante para nosotros." %}
     </div>
 </div>
 {% endblock content %}