<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Blog</title>
</head>
<body>
   <h1> Proyecto Blog </h1>
   <h2>Lista de Autores</h2>

   <table border="1">
    <thead>
        <th> Nombre </th>
        <th> Email </th>
    </thead>
    <tbody>
        {% for autor in autores %}
            <tr>
                <td> {{ autor.nombre }} </li>td>
                <td> {{ autor.email }} <td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
   
    <button> <a href="{% url 'core:index' %}"> Ir a Pagina Principal </a> </button> 
</body>
</html>