{% extends "core/base.html" %}

{% block content %}
    
   <h2>Lista de Autores</h2>

   <table border="1">
    <thead>
        <th> Nombre </th>
        <th>Biografia</th>
        <th> Email </th>
    </thead>
    <tbody>
        {% for autor in autores %}
            <tr>
                <td> {{ autor.nombre }} </td>
                <td> {{ autor.bio }} </td>
                <td> {{ autor.email }} </td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
   
    <button> <a href="{% url 'core:index' %}"> Ir a Pagina Principal </a> </button> 

{% endblock content %}
