{% extends "core/base.html" %}

{% block content %}
    <h1>Autores</h1>
    <ul> 
        {% for autor in autores %}
            <h2> Autor </h2>
            <li> {{ autor.nombre }} <li>
            <li> {{ autor.bio }} <li>
            <li> {{ autor.email }} <li>
      

        {% endfor %}


    </ul>
    <button> <a href="{% url 'blog:autores_list' %}"> Listar Autores </a> </button> 
    <button> <a href="{% url 'blog:autores_add' %}"> Agregar Nuevo Autor </a> </button> 
    <button> <a href="{% url 'core:index' %}"> Ir a Pagina Principal </a> </button> 

{% endblock content %}