{% extends "core/base.html" %}

{% block content %}


   <h2>Lista de Comentarios</h2>
   <table border="1">
    <thead>
        <th> Autor </th>
        <th> Post </th>
        <th> Comentario </th>
        <th> Fecha de comentario </th>
    </thead>
    <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td> {{ comentario.post }} </td>
                <td> {{ comentario.autor }} </td>
                <td> {{ comentario.contenido }} </td>
                <td> {{ comentario.fecha_comentario }} </td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
    <button> <a href="{% url 'core:index' %}"> Ir a Pagina Principal </a> </button> 

{% endblock content %}