<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Posts</h1>
    <ul> 
        {% for post in posts %}
            <h2> Post </h2>
            <li> {{ post.titulo }} <li>
            <li> {{ post.contenido }} <li>
            <li> {{ post.autor }} <li>
            <li> {{ post.fecha_publicacion }} <li>

        {% endfor %}


    </ul>
    <button> <a href="{% url 'core:index' %}"> Ir a Pagina Principal </a> </button> 
</body>
</html>